.SearchPage{
	background: $f;
  padding: 30px 10px 30px;
  margin-top: 20px;
	.upoption{
		margin-bottom: 10px;
	}
	.about{
		line-height: 4;
    font-size: 14px;
		span{
			color: $c;
		}
	}
	.downloadItem{
		border-bottom: 1px solid #dcdcdc;
		li{
			border: 1px solid #dcdcdc;
			border-bottom: 0;
			margin: 0;
			padding: 0;
			z-index: 1;
			position: relative;
	    height: 105px;
			.test-pic{
				width: 65px;
				text-align: center;
				line-height: 0;
				position: absolute;
		    margin: 15px 20px;
			}
			.test-txt{
				padding-right: 250px;
		    padding-left: 110px;
        overflow: hidden;
		    .test-txt-p1{
		    	margin-top: 20px;
					height: 24px;
					line-height: 24px;
					overflow: hidden;
					a{
						font-size: 16px;
						color: #333;
					}
		    }
		    p{
		    	margin-top: 20px;
		    }
				span{
					margin-right: 10px;
					font-size: 12px;
					color: #999;
				}
			}
			.ant-btn{
		    position: absolute;
		    right: 50px;
		    top: 35px;
			}
		}
	}
}
