
//reset
body,html{
	font-family: "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
	box-sizing:border-box;
	font-size: 16px !important;
	min-width: 1200px;
	ol, ul, li, p,h1, h2, h3, h4, h5, h6{  list-style: none; margin:0;padding:0 }
}
address, caption, cite, code, dfn, em, strong, th, var,i {
  font-style: normal;
  font-weight: normal;
}
// a:hover {  text-decoration: none;  }
img {  border: none;  vertical-align: middle;  display: inline-block;  }

.left {  float: left;  }
.right {  float: right;  }
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.contentCenter{
	width: 1200px;
	margin: 0 auto;
}

.swiper-pagination-bullet-active{
	background: $c;
}
.ant-btn-primary{
	background-color:$c !important;
	border-color:$c !important
}
.ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner{
	background-color:$c !important;
	border-color:$c !important;
}
.box-shadow{
	box-shadow: 0px 0px 15px 5px #ddd;
}
.BigContainer{
	min-height: calc(100vh - 373px)
}
.ant-radio-inner:after{
	background-color:$c!important
}
.ant-radio-checked .ant-radio-inner{
	border-color:$c!important
}
