.VIP{
	background: #f2f2f2;
	overflow: hidden;
	.top{
		margin-top: 50px;
		background: $f;
		padding:10px 30px;
		li{
			margin:20px 0;
			input{
				width: 25%;
				margin-left: -6px;
			}
			.box{
				width: 200px;
				height: 80px;
				border:1px solid #ddd;
				background: #f2f2f2;
				text-align: center;
				margin-right: 30px;
				border-radius: 5px;
				cursor: pointer;
			}
			.box.active{
				background: $c;
				h2,span,p{
					color: $f;
				}
			}
			h2{
				line-height: 38px;
				font-size: 18px;
			}
			p{
				line-height: 16px;
    		font-size: 12px;
			}
			span{
				line-height: 20px;
				font-size: 14px;
				color: #999;
			}
		}
		.submit{
			padding:20px 0 10px;
			a{
				color:$c;
			}
			.price{
				font-size: 30px;
				color: $c;
			}
			button{
				margin-left: 20px;
			}
		}
	}
	.bottom{
		margin-top:30px;
		margin-bottom: 30px;
		.vip-introduce{
			padding: 30px;
    	background-color: #fff;
			dl{
				dt{
					margin-bottom: 15px;
					line-height: 30px;
					font-size: 18px;
					color: #333;
				}
				dd{
					line-height: 30px;
			    font-size: 14px;
			    color: #666;
				}
			}
		}
	}
	.fapiao{
		padding-left: 82px;
		margin-top: 10px;
		i{
			font-size: 12px;
    	color: red;
		}
		div> span{
			font-size: 16px;
	    color: #666;
	    display: inline-block;
	    width: 83px;
	    text-align: right;
	    padding-right: 18px;
	    line-height: 50px;
		}
	}
}
