.Footer{
	background: #474443;
	height: 200px;
	padding-top: 50px;
	font-size: 12px;
	text-align: center;
	color: $f;
	width: 100%;
	min-width: 1200px;
	ul{
		li{
			display: inline-block;
			margin:0 15px;
		}
	}
	p{
		line-height: 2;
	}
}
